html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.container {
  position: absolute;
  margin: 30px auto auto;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 10;
}

.jumbotron {
  text-align: center;
  background-color: rgba(0,0,0, 0.8) !important;
  color: #fff !important;
}

#image_background {
  min-height: 100%;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#video_pattern {
  background-image: url(../images/pattern.png);
  position: fixed;
  opacity: 0.8;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
